---
sudo: required
dist: trusty

services:
  - docker

language: generic

env:
  - ANSIBLE_VERSION="2.1"
  - ANSIBLE_VERSION="2.2"
  - ANSIBLE_VERSION="2.3"

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y -o Dpkg::Options::="--force-confold" docker-ce
  - docker pull ubuntu:trusty
  - docker pull ubuntu:xenial
install:
  - sudo -H pip install ansible==${ANSIBLE_VERSION}.*

  - sudo ansible-galaxy install bbatsche.Base

  - docker run -d --rm --name trusty ubuntu:trusty sleep infinity
  - docker run -d --rm --name xenial ubuntu:xenial sleep infinity

  - mkdir -p $HOME/.ansible
  - sudo chown -R $USER:$USER $HOME/.ansible

  - ansible-playbook -i travis-inventory.ini provision-playbook.yml --skip-tags timezone,sysctl,apt,ruby,node,bash,swap
script:
  # Syntax check
  - ansible-playbook -i travis-inventory.ini travis-playbook.yml --syntax-check

  # Play test
  - ansible-playbook -i travis-inventory.ini travis-playbook.yml

  # Idempotence test
  - ansible-playbook -i travis-inventory.ini travis-playbook.yml --syntax-check > idempotence.out
  - >
    grep -q "changed=0.*failed=0" idempotence.out
    && (echo "Idempotence test: pass" && exit 0) || (echo "Idempotence test: fail" && cat idempotence.out && exit 1)

  # Serverspec
  # - travis_wait ./spec.sh
notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
