---
sudo: required

services:
  - docker

language: generic
cache:
  directories:
    - vendor/bundle
    - $HOME/.cache/pip
    - $HOME/.local
    - roles

env:
  - ANSIBLE_VERSION="2.4" ENVIRONMENT_NAME=trusty TEST_SUITE=idempotence
  - ANSIBLE_VERSION="2.5" ENVIRONMENT_NAME=trusty TEST_SUITE=idempotence
  - ANSIBLE_VERSION="2.4" ENVIRONMENT_NAME=xenial TEST_SUITE=idempotence
  - ANSIBLE_VERSION="2.5" ENVIRONMENT_NAME=xenial TEST_SUITE=idempotence
  - ANSIBLE_VERSION="2.4" ENVIRONMENT_NAME=bionic TEST_SUITE=idempotence
  - ANSIBLE_VERSION="2.5" ENVIRONMENT_NAME=bionic TEST_SUITE=idempotence
  - ANSIBLE_VERSION="2.4" ENVIRONMENT_NAME=trusty TEST_SUITE=spec
  - ANSIBLE_VERSION="2.5" ENVIRONMENT_NAME=trusty TEST_SUITE=spec
  - ANSIBLE_VERSION="2.4" ENVIRONMENT_NAME=xenial TEST_SUITE=spec
  - ANSIBLE_VERSION="2.5" ENVIRONMENT_NAME=xenial TEST_SUITE=spec
  - ANSIBLE_VERSION="2.4" ENVIRONMENT_NAME=bionic TEST_SUITE=spec
  - ANSIBLE_VERSION="2.5" ENVIRONMENT_NAME=bionic TEST_SUITE=spec

before_install:
  - if [ $ENVIRONMENT_NAME = "trusty" ]; then docker pull ubuntu:trusty; fi
  - if [ $ENVIRONMENT_NAME = "xenial" ]; then docker pull ubuntu:xenial; fi
  - if [ $ENVIRONMENT_NAME = "bionic" ]; then docker pull ubuntu:bionic; fi

  - travis_retry bundle install --deployment

install:
  - travis_retry pip install --user -U ansible==${ANSIBLE_VERSION}.*

  - travis_retry ansible-galaxy install bbatsche.Base

  - mkdir -p $HOME/.ansible
  - sudo chown -R $USER:$USER $HOME/.ansible

  - travis_wait bundle exec rake environment:${ENVIRONMENT_NAME}:provision

script:
  # Syntax check
  - if [ $TEST_SUITE = "idempotence" ]; then ansible-playbook travis-playbook.yml --syntax-check; fi

  # Play test
  - if [ $TEST_SUITE = "idempotence" ]; then bundle exec rake ansible:playbook:$ENVIRONMENT_NAME[travis-playbook.yml]; fi

  # Idempotence test
  - if [ $TEST_SUITE = "idempotence" ]; then bundle exec rake ansible:playbook:$ENVIRONMENT_NAME[travis-playbook.yml] > idempotence.out; fi
  - >
    if [ $TEST_SUITE = "idempotence" ]; then
    grep -q "changed=0.*failed=0" idempotence.out
    && (echo "Idempotence test: pass" && exit 0) || (echo "Idempotence test: fail" && cat idempotence.out && exit 1);
    fi

  # Serverspec
  - if [ $TEST_SUITE = "spec" ]; then bundle exec rake spec:$ENVIRONMENT_NAME; fi

after_script:
  - bundle exec rake environment:destroy

notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
